.bottom-content {
	.flex-horizontal-center;
	padding: 2% 0;
	div {
		padding: 2%;
		margin: 0 auto;
		h2 {
			.headerfont;
			border-bottom: 3px solid @purple;
		}
		p {
			padding: 2% 0;
		}
	}
	@media @mobile {
		flex-direction: column;
		text-align: center;
	}
}
