.bottom-content {
	.flex-horizontal-center;
	padding: 2%;
	div {
		margin: 1%;
		padding: 2%;
		h2 {
			.headerfont;
			border-bottom: 3px solid @purple;
		}
		p {
			padding: 2%;
		}
		span {
			.flex;
			width: 55px;
		}
	}
	@media @mobile {
		flex-direction: column;
		text-align: center;
	}
}
