.main-content {
	.flex-horizontal-center;
	align-items: center;
	padding: 2% 0;
	div {
		padding: 1%;
		h2 {
			.headerfont;
			padding-bottom: 2%;
		}
	}
	@media @820 {
		flex-direction: column;
		text-align: center;
	}
}

.header-content {
	h1 {
		.headerfont;
		text-decoration: underline;
		text-decoration-color: @purple;
		margin: 2% 0;
		@media @820 {
			flex-direction: column;
			text-align: center;
		}
	}
	span {
		padding: 1%;
		display: flex;
		justify-content: center;
	}
}

.card {
	margin: 2%;
	width: 50%;
}

.copyright {
	text-align: center;
}

.signup {
	margin: 3% 0;
}
