.main-content {
	.flex-horizontal-center;
	align-items: center;
	padding: 2% 0;
	div {
		padding: 1% 0;
		h2 {
			.headerfont;
			padding-bottom: 2%;
		}
	}
	@media @800 {
		flex-direction: column;
		text-align: center;
	}
}

.card {
	margin: 2%;
	width: 50%;
}

.copyright {
	text-align: center;
}

.signup {
	margin: 10% 0;
}
