// .navigation-bar {
// 	.flex(space-between, center);
// 	background-color: black;
//
// }

.navigation-bar {
	.flex-horizontal-center;
	background: #000;
	margin: 0 0 2% 0;
	h1 {
		.headerfont;
		text-decoration: underline;
		text-decoration-color: @purple;
		font-size: 3rem;
		color: white;
		@media @mobile {
			text-align: center;
		}
	}
	.nav-links {
		.flex-vertical-center;
		width: 50%;
		padding: 1%;
	}
	@media @mobile {
		.flex-center;
	}
}

.logo {
	cursor: hand;
	cursor: pointer;
}
