.navigation-bar {
	.flex-horizontal-center;
	align-items: center;
	justify-content: space-between;
	background: #000;
	padding: 0 1%;
	width: 100%;
	h1 {
		.headerfont;
		text-decoration: underline;
		text-decoration-color: @purple;
		font-size: 3rem;
		color: white;
	}
	nav {
		width: 210px;
		margin: 0 1%;
	}
	.nav-links {
		.flex;
		justify-content: space-between;
		padding: 3%;
	}
	@media @mobile {
		width: 100%;
		flex-direction: column;
	}
}
